@{
    ViewBag.Title = "Sara Althauser";
}
<h2>@ViewBag.Title</h2>
<h3>About Me.</h3>

<p>
    My name is Sara Althauser. I grew up in Columbus Ohio and will be moving to Cleveland, OH after graduation. I am looking forward to my 
    future up north. I am currently a senior studying Finance, Business Analytics, and MIS. <br /> <br />
    I have an older brother and a younger sister. They both go to the University of Cincinatti. My brother is in his first year
    of grad school for social work, and my sister is a first year studying business law. <br /> <br />
    I am looking forward to taking MIS 4200. I hope to learn a lot and take what I learn to my job. I am excited to see what I acomplish this year!
</p>
