@{
    ViewBag.Title = "Contact Sara";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    8 Franklin Ave<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    740.602.2082
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:sa380915@ohio.edu">sa380915@ohio.edu</a>
 
</address>