@{
    ViewBag.Title = "Sara Althauser for MIS4200";
}

<div class="jumbotron">
    <h1>Sara Althauser</h1>
    <p class="lead">Get to know me. Below is a link to my LinkedIn profile. Feel free to check it out!</p>
    <p><a href="https://www.linkedin.com/in/sara-althauser" class="btn btn-primary btn-lg">LinkedIn &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pre-College</h2>
        <p>
            I grew up in Columbus, Ohio. I went to Big Walnut High School in Sunbury, Ohio.
            I was very dedicated in school and sports in high school, I worked at a local pizzaria when I wasn't doing either.
            I was deciding between The Ohio State University and Ohio University, thankfully I chose correctly. 
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>College Life</h2>
        <p>
            Coming into Ohio University freshman year I chose to study Finance, I added a Business
            Analytics major sophomore year and an MIS major junior year. I am very thankful I chose
            to add these majors, I have learned a lot and I am confident I would have gotten a very
            different job offer had I not added the other majors.
        </p>
        @Html.ActionLink("Customers", "Index", "Customers")<br />
        @Html.ActionLink("Orders", "Index", "Orders")<br />
        @Html.ActionLink("Products", "Index", "Products")

    </div>
    <div class="col-md-4">
        <h2>Post-College</h2>
        <p>
            I am very thankful to have recieved a full time offer from Deloitte. I will be starting in
            their Cleveland branch in June 2020. I will be working as a Risk and Financial Advisory Consultant
            and I am very excited to begin my full time position soon!
        </p>
    </div>
</div>